<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ aluno.nome }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='shared.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='pages.css') }}">
</head>

<body>
    <div class="container">
        <div class="sidebar">
            <h3>Informaçẽos pessoais:</h3>
            <p>id: {{ aluno.id }}</p>
            <p>nome: {{ aluno.nome }}</p>
            <p>endereco: {{ aluno.endereco }}</p>
            <p>email: {{ aluno.email }}</p>
            <p>cpf: {{ aluno.cpf }} </p>
            <p>rg: {{ aluno.rg }}</p>
            <p>curso: {{ aluno.curso }}</p>
            <p>moedas: {{ aluno.moedas }}</p>
            <p>instituição: {{ inst.nome }}</p>
        </div>

        <div class="tabs">
            <div class="tab-list">
                <li class="tablinks" onclick="openTab(event, 'transacoesRecebidas')">Histórico transacoes recebidas</li>
                <li class="tablinks" onclick="openTab(event, 'transacoesFeitas')">Histórico transações feitas</li>
                <li class="tablinks" onclick="openTab(event, 'trocarVantagens')">Trocar vantagens</li>
            </div>

            <div class="tab-content">
                <div id="transacoesRecebidas" class="tabcontent">
                    {% for t in tp %}
                    <h5>{{ t.id }}</h5>
                    <p>
                        {% for prf in prof %}
                        {% if prf.id == t.origem %}
                        {{ prf.nome }}
                        {% endif %}
                        {% endfor %}
                    </p>
                    <p>valor: {{ t.valor }}</p>
                    <p>data: {{ t.data }}</p>
                    <p>mensagem: {{ t.mensagem }}</p>
                    {% endfor %}
                </div>

                <div id="transacoesFeitas" class="tabcontent">
                    {% for a in tf %}
                    <h5>{{ a.id }}</h5>
                    <p>parceiro: {{ a.destino }}</p>
                    <p>valor: {{ a.valor }}</p>
                    <p>data: {{ a.data }}</p>
                    <p>mensagem: {{ a.mensagem }}</p>
                    {% endfor %}
                </div>

                <div id="trocarVantagens" class="tabcontent">
                    {% for prod in prod %}
                    <form action="/aluno/{{ aluno.id }}/{{ prod.id }}" method="POST">
                        <h5>{{ prod.nome }}</h5>
                        <p>{{ prod.descricao }}</p>
                        <p>{{ prod.preco }}</p>
                        <p>
                            {% for prf in prof %}
                            {% if prf.id == prod.id_parceiro %}
                            {{ prf.nome }}
                            {% endif %}
                            {% endfor %}
                        </p>
                        <p><input type="submit" value="post" /></p>
                    </form>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <script src="../static/script.js"></script>

</body>

</html>