<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ aluno.nome }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='shared.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='pages.css') }}">
</head>

<body>
    <div class="container">
        <div class="sidebar">
            <h3>Informações pessoais:</h3>
            <p><label for="id">ID:</label> <span>{{ aluno.id }}</span></p>
            <p><label for="nome">Nome:</label> <span>{{ aluno.nome }}</span></p>
            <p><label for="endereco">Endereço:</label> <span>{{ aluno.endereco }}</span></p>
            <p><label for="email">Email:</label> <span>{{ aluno.email }}</span></p>
            <p><label for="cpf">CPF:</label> <span>{{ aluno.cpf }}</span></p>
            <p><label for="rg">RG:</label> <span>{{ aluno.rg }}</span></p>
            <p><label for="curso">Curso:</label> <span>{{ aluno.curso }}</span></p>
            <p><label for="moedas">Moedas:</label> <span>{{ aluno.moedas }}</span></p>
            <p><label for="instituicao">Instituição:</label> <span>{{ inst.nome }}</span></p>            
        </div>

        <div class="tabs">
            <div class="tab-list">
                <li class="tablinks" onclick="openTab(event, 'transacoesRecebidas')">Histórico transacoes recebidas</li>
                <li class="tablinks" onclick="openTab(event, 'transacoesFeitas')">Histórico transações feitas</li>
                <li class="tablinks" onclick="openTab(event, 'trocarVantagens')">Trocar vantagens</li>
            </div>

            <div class="tab-content">
                <div id="transacoesRecebidas" class="tabcontent">
                    {% for t in tp %}
                    <h5>{{ t.id }}</h5>
                    <p><label for="origem">Professor:</label> <span>{{ pf_nomes[t.origem] }}</span></p>
                    <p><label for="valor">Valor:</label> <span>{{ t.valor }}</span></p>
                    <p><label for="data">Data:</label> <span>{{ t.data }}</span></p>
                    <p><label for="mensagem">Mensagem:</label> <span>{{ t.mensagem }}</span></p>                    
                    {% endfor %}
                    <form action="/aluno/{{ aluno.id }}/relatorio" method="POST">
                        <label for="relatorio">Gerar Relatório</label>
                        <input type="submit" value="post" />
                    </form>
                </div>

                <div id="transacoesFeitas" class="tabcontent">
                    {% for a in tf %}
                    <p><label for="destino">Parceiro:</label> <span>{{ pr_nomes[a.destino] }}</span></p>
                    <p><label for="valor">Valor:</label> <span>{{ a.valor }}</span></p>
                    <p><label for="data">Data:</label> <span>{{ a.data }}</span></p>
                    <p><label for="mensagem">Mensagem:</label> <span>{{ a.mensagem }}</span></p>                    
                    {% endfor %}
                    <form action="/aluno/{{ aluno.id }}/relatorio" method="POST">
                        <label for="relatorio">Gerar Relatório</label>
                        <input type="submit" value="post" />
                    </form>
                </div>

                <div id="trocarVantagens" class="tabcontent">
                    {% for prod in prod %}
                    <form action="/aluno/{{ aluno.id }}/{{ prod.id }}" method="POST">
                        <p><label for="nome">Nome:</label> <span>{{ prod.nome }}</span></p>
                        <p><label for="descricao">Descrição:</label> <span>{{ prod.descricao }}</span></p>
                        <p><label for="preco">Preço:</label><span>{{ prod.preco }}</span></p>
                        <p><label for="parceiro">Parceiro:</label><span>{{ pr_nomes[prod.id_parceiro] }}</span></p>
                        <p><img src="/static/imgProdutos/{{ prod.img }}"></p>
                        <p><input type="submit" value="post" /></p>
                    </form>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <script src="../static/script.js"></script>

</body>

</html>