<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cria user</title>
</head>
<body>
    <form action = "{{ request.path }}" method="POST">
        <label for = "nome">Nome</label><br>
        <input type = "text" name = "nome" placeholder="Nome" /><br>
        <label for = "endereco">endereco</label><br>
        <input type = "text" name = "endereco" placeholder="endereco" /><br>
        <label for = "email">email</label><br>
        <input type = "text" name = "email" placeholder="email" /><br>
        <label for = "senha">senha</label><br>
        <input type = "text" name = "senha" placeholder="senha" /><br>
        <label for = "cpf">cpf</label><br>
        <input type = "text" name = "cpf" placeholder="cpf" /><br>
        <label for = "rg">rg</label><br>
        <input type = "text" name = "rg" placeholder="rg" /><br>
        <label for = "curso">curso</label><br>
        <input type = "text" name = "curso" placeholder="curso" /><br>
        <label for = "instDeEnsino">instituição de ensino</label><br>
        <input type = "text" name = "instDeEnsino" placeholder="instDeEnsino" /><br>
        <input type = "submit" value = "Submit" />
    </form>
</body>
</html>