<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mostra user</title>
</head>
<body>
    <table>
        <tbody>
            {% for u in users %}
                <form action = "/listaAlunos/{{ u.id }}" method="DELETE">
                    <tr>
                        <td>{{ u.id }}</td>
                        <td>{{ u.nome }}</td>
                        <td>{{ u.endereco }}</td>
                        <td>{{ u.email }}</td>
                        <td>{{ u.senha }}</td>
                        <td>{{ u.cpf }}</td>
                        <td>{{ u.rg }}</td>
                        <td>{{ u.curso }}</td>
                        <td>{{ u.instDeEnsino }}</td>
                        <td><input type = "submit" value = "delete"/></td>
                    </tr>
                </form>
            {% endfor %}
        </tbody>
        <!-- <form action = "{{ request.path }}" method="POST">
            <label for = "nome">Nome</label><br>
            <input type = "text" name = "nome" placeholder="Nome" /><br>
            <label for = "endereco">endereco</label><br>
            <input type = "text" name = "endereco" placeholder="endereco" /><br>
            <label for = "email">email</label><br>
            <input type = "text" name = "email" placeholder="email" /><br>
            <label for = "senha">senha</label><br>
            <input type = "text" name = "senha" placeholder="senha" /><br>
            <input type = "submit" value = "Submit" />
        </form> -->
    </table>
</body>
</html>