<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mostra user</title>
    <table>
        <tbody>
            {% for u in users %}
                <tr>
                    <td>{{ u.nome }}</td>
                    <td>{{ u.endereco }}</td>
                    <td>{{ u.email }}</td>
                    <td>{{ u.senha }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</head>
<body>
    
</body>
</html>