<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ parca.nome }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='shared.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='pages.css') }}">
</head>

<body>
    <div class="container">
        <div class="sidebar">
            <h3>Informaçẽos pessoais: </h3>
            <p>nome: {{ parca.nome }}</p>
            <p>endereco: {{ parca.endereco }}</p>
            <p>email: {{ parca.email }}</p>
            <p>cnpj: {{ parca.cnpj}} </p>        
        </div>

        <div class="tabs">
            <div class="tab-list">
                <li class="tablinks" onclick="openTab(event, 'produtosDisponiveis')">Produtos disponíveis</li>
                <li class="tablinks" onclick="openTab(event, 'adicionarProduto')">Adicionar produto</li>
                <li class="tablinks" onclick="openTab(event, 'vantagensTrocadas')">Vantagens Trocadas</li>
            </div>
            <div class="tab-content">
                <div id="produtosDisponiveis" class="tabcontent">
                    {% for p in prod %}
                        <form action="/parceiro/{{ parca.id }}/{{ p.id }}" method="POST">
                            <p>nome: {{ p.nome }}<input type="text" name="nome"/></p>
                            <p>descrição: {{ p.descricao }}<input type="text" name="descricao"/></p>
                            <p>preco: {{ p.preco }} <input type="number" name="preco"/></p>
                            <p><img src="/static/imgProdutos/{{ p.img }}"></p>
                            <p><input type="submit" value="post"/></p>
                        </form>
                        <form action="/parceiro/{{ parca.id }}/delete/{{ p.id }}" method="REMOVE">
                            <input type="submit" value="delete">
                        </form>
                    {% endfor %}
                </div>
                <div id="adicionarProduto" class="tabcontent">
                    <form action="/parceiro/{{ parca.id }}/add" method="POST" enctype="multipart/form-data">
                        <p><input type="text" name="nome" placeholder="nome" /></p>
                        <p><input type="text" name="descricao" placeholder="descricao" /></p>
                        <p><input type="number" name="preco" placeholder="preco" /></p>
                        <p><input type="submit" value="post"/></p>
                        <p>
                            <label for="img">Imagem do Produto:</label>
                            <input type="file" name="img" id="img" accept="image/*" required>
                        </p>
                    </form>
                </div>
                <div id="vantagensTrocadas" class="tabcontent">
                    {% for t in ta %}
                        <p>valor: {{ t.valor }}</p>
                        <p>data: {{ t.data }}</p>
                        <p>mensagem: {{ t.mensagem }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>




    <!-- <h3>Produtos disponíveis: </h3> -->


    <!-- <h3>Adicionar produto: </h3> -->


    <!-- <h3>Vantagens trocadas: </h3> -->
    <script src="../static/script.js"></script>
</body>
</html>