<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ prof.nome }}</title>
</head>
<body>
    <h3>Informaçẽos pessoais: </h3>
    <p>nome: {{ prof.nome }}</p>
    <p>endereco: {{ prof.endereco }}</p>
    <p>email: {{ prof.email }}</p>
    <p>cpf: {{ prof.cpf}} </p>
    <p>rg: {{ prof.rg }}</p>
    <p>departamento: {{ prof.departamento }}</p>
    <p>moedas: {{ prof.moedas }}</p>
    <p>instituição: {{ inst.nome }}</p>

    <h3>Histórico transacoes feitas: </h3>
        {% for t in tp %}
            <h5>{{ t.id }}</h5> 
            <p>
                {% for aln in aluno %}
                    {% if aln.id == t.origem %} 
                        {{ aln.nome }} 
                    {% endif %}
                {% endfor %}
            </p>
            <p>valor: {{ t.valor }}</p>
            <p>data: {{ t.data }}</p>
            <p>mensagem: {{ t.mensagem }}</p>

        {% endfor %}

    <h3>Enviar moedas: </h3>
        {% for al in aluno %}
            <form action="/professor/{{ prof.id }}/{{ al.id }}" method="POST">
                <h5>{{ al.nome }}</h5>
                <p><input type="text" name="mensagem" placeholder="mensagem" /></p>
                <p><input type="number" name="valor" placeholder="valor" /></p>
                <p><input type="submit" value="post"/></p>
            </form>
        {% endfor %}

</body>
</html>