<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ prof.nome }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='shared.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='pages.css') }}">
</head>

<body>
    <div class="container">
        <div class="sidebar">
            <h3>Informações pessoais: </h3>
            <p>Nome: {{ prof.nome }}</p>
            <p>Endereco: {{ prof.endereco }}</p>
            <p>Email: {{ prof.email }}</p>
            <p>Cpf: {{ prof.cpf}} </p>
            <p>RG: {{ prof.rg }}</p>
            <p>Separtamento: {{ prof.departamento }}</p>
            <p>Moedas: {{ prof.moedas }}</p>
            <p>Instituição: {{ inst.nome }}</p>
        </div>

        <div class="tabs">
            <div class="tab-list">
                <!-- <li class="tablinks" onclick="openTab(event, 'transacoesRecebidas')">Histórico transacoes recebidas</li> -->
                <li class="tablinks" onclick="openTab(event, 'transacoesFeitas')">Histórico transações feitas</li>
                <li class="tablinks" onclick="openTab(event, 'enviarMoedas')">Enviar moedas</li>
            </div>

            <!-- <div class="tab-content">
                <div id="transacoesRecebidas" class="tabcontent">

                </div>
            </div> -->

            <div id="transacoesFeitas" class="tabcontent">
                {% for t in tp %}
                <h5>{{ t.id }}</h5>
                <p>
                    {% for aln in aluno %}
                    {% if aln.id == t.origem %}
                    {{ aln.nome }}
                    {% endif %}
                    {% endfor %}
                </p>
                <p>valor: {{ t.valor }}</p>
                <p>data: {{ t.data }}</p>
                <p>mensagem: {{ t.mensagem }}</p>
                {% endfor %}
            </div>

            <div id="enviarMoedas" class="tabcontent">
                {% for al in aluno %}
                <form action="/professor/{{ prof.id }}/{{ al.id }}" method="POST">
                    <h5>{{ al.nome }}</h5>
                    <p><input type="text" name="mensagem" placeholder="mensagem" /></p>
                    <p><input type="number" name="valor" placeholder="valor" /></p>
                    <p><input type="submit" value="post" /></p>
                </form>
                {% endfor %}
            </div>
        </div>

    </div>

    <script src="../static/script.js"></script>


</body>

</html>