<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
</head>
<body>
    <form id="aluno">
        <label>Cadastrar como aluno</label>
        <button id="aluno" onclick="show('aluno')">aluno</button>
        <button id="pareceiro" onclick="show('parceiro')">parceiro</button>    
    </form>

    <h1 id="aluno" display="none">Aluno</h1>
    <h1 id="parceiro" display="none">Parceiro</h1>

    <!--
    <script>
        function show(x) {
            let elem = document.getElementById(x);
            let btns = document.getElementById("botoes");
            elem.style.display = "none";
            btns.style.display = "none";
        }
    </script>
    -->
    
</body>
</html>